services:
  frontend:
    build:
      context: .
    container_name: gifyd-dev
    ports:
      - 5173:5173
    volumes:
      - type: bind
        source: .
        target: /app
      - type: volume
        target: /app/node_modules
